
* {
    background-color: aqua;
}

* {
    font-size: 25px;
}

.contenedor {
    display: flex;
}

img.pequeña {
    width: 300px;
    height: 400px;
    margin-left: 100px;
}
p {
    width: 650px;
}
:any-link {
    color: rgb(255, 102, 150);
}

.continentes {
    color:red
}
.subtitulos {
    font-family: i;
}

